@font-face {
    font-family: InterRegular;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: InterSemiBold;
    src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
